.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  margin-bottom: 32px;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.btn:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #808080;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000;
}

#datetime-picker:active {
  border-color: #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
  border-color: #808080;
}

.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
